/* TABLE OF CONTENTS
  0. variables
  1. global styles
  2. typography
  3. components
  4. layout */





/* =============
   variables
   ============= */

:root {
  /* --borderThickness:1px; */
  --canvBorderThickness: 4px;

  /* THEME VARIABLES (DARK THEME DEFAULT) */
  /* --frame_height: 1.5rem; */
  --app_height: 100vh;
  --container_height:100vh;
  --app_padding: 2rem;

  --drawing_container_width: 250px;

  --tab_bar_width: 9rem;

  --padded_app_height: calc( var(--container_height) - var(--app_padding) * 2);

  --clr_app_bg: hsla(0, 0%, 10%);
  --clr_window_frame: hsl(0, 0%, 20%);

  --clr_input_form_bg: hsl(0, 0%, 15%);
  --clr_input_form_bg_border: hsl(0, 0%, 0%);

  --clr_drawing_container: hsl(0,0%,60%);
  --clr_subsection: none;
  --clr_subsection_border: hsl(0, 0%, 80%);
  --clr_tab_button: var(--clr_input_form_bg);
  --clr_tab_button: none;
  --clr_tab_button_text: hsl(200, 40%, 50%);
  --clr_tab_button_font_weight: bold;
  --clr_text: hsl(0, 0%, 80%);

  --clr_button: hsl(200, 30%, 70%);
  --button_font_weight: 600;
  --button_font_weight_active: 550;
  --clr_button_text: hsl(0, 0%, 0%);
  --drop_shadow_inset: inset 0 0 2px black;
  --drop_shadow_outset: 0.1px 0.3px 3px hsl(0, 0%, 5%);

  --drop_shadow_subsection: var(--drop_shadow_inset);
  --drop_shadow_input_form: var(--drop_shadow_outset);

  --clr_btn_border: hsl(200, 40%, 50%);
  --clr_tab_button_hover: hsl(200, 40%, 40%);
  --clr_tab_button_active: hsl(200, 40%, 80%);

  --clr_input_bg: hsl(250, 20%, 70%);
  --clr_input_bg_focus: rgba(255, 236, 127, 0.721);
  --input_font_weight: 600;

  --clr_on_off_bg: hsl(250, 20%, 80%);
  --clr_on_off_thumb: hsl(230, 30%, 50%);
  --clr_slider_thumb: hsl(100, 10%, 80%);

  /* --clr_h1: hsl(000, 30%, 80%);
  --clr_h2: hsl(000, 30%, 80%);
  --clr_h3: hsl(100, 20%, 90%);
  --clr_h4: hsl(200, 30%, 80%);
  --clr_h5: hsl(090, 30%, 80%); */

  --sat_header: 30%;
  --lit_header: 80%;
  --clr_h1: hsl(000, var(--sat_header), var(--lit_header));
  --clr_h2: hsl(250, var(--sat_header), var(--lit_header));
  --clr_h3: hsl(100, var(--sat_header), var(--lit_header));
  --clr_h4: hsl(200, var(--sat_header), var(--lit_header));
  --clr_h5: hsl(060, var(--sat_header), var(--lit_header));

  --clr_control_name_text: hsl(90, 15%, 80%);

  /* OTHER VARIABLES */
  --panelHeight: 400px;
  --panelH: 180;
  --panelS: 30%;
  --panelL: 95%;

  --litBG2: 95%;

  --tabS: 30%;
  --tabL: 98%;
  --tabLHover: 97%;
  --tabLActive: 90%;

  --tabH: 180;

  --redrawL: 80%;
  --activeMult: 0.9;

  --BGHue: 150;

  /* --input_form_container_width: 20rem; */
  --input_form_container_width: 100%;
}

/* =============
   global styles
   ============= */

html {
  margin: 0;
  /* width:100%; */
}

body {
  margin: 0;
  /* padding:0; */
  /* width: 100%; */
  font-family: "Courier";
  font-size: 8pt;

  /* background: linear-gradient(to right, hsl(var(--BGHue),50%,90%), hsl(var(--BGHue),50%,98%)); */
  background-color: var(--clr_app_bg);
  color: var(--clr_text);
}

* {
  box-sizing: border-box;
}

/* =============
   typography
   ============= */
h1,
h2,
h3,
h4,
h5,
control-name {
  font-weight: 500;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
  color: var(--clr_h2);
  /* font-weight: 500; */
  /* font-weight: 500; */
  /* border-bottom:1px; */
  /* text-decoration: underline; */
}

h3 {
  font-size: 1rem;
  margin-left: 10px;
  margin-bottom: 1px;
  margin-top: 5px;
  font-weight: 700;
  color: var(--clr_h3);
  /* text-align: center; */
}

h4 {
  font-size: 1rem;
  margin: 0;
  color: var(--clr_h4);
  font-weight: 700;
  /* font-weight: 300; */
  /* margin-left: 10px; */
  /* margin-bottom: 1px; */
  /* margin-top:2rem; */
}

h5 {
  font-size: 0.7rem;
  margin: 0;
  font-weight: 500;
  color: var(--clr_h5);
  /* margin-left: 10px; */
  /* margin-bottom: 1px; */
  /* margin-top:2rem; */
}

p {
  margin: 5px;
}

/* =============
   components
   ============= */

input,
.filename-input {
  width: 10ch;
  height: 25px;
  border: none;
  border-radius: 4px;
  text-align: left;
  font-size: 7pt;
  font-weight: var(--input_font_weight);
  color: black;
  /* background-color:  var(--clr-input-bg-focus); */
  /* background-color:  hsla(255, 50%, 50%, 0.5); */
  background-color: var(--clr_input_bg);
  box-shadow: inset 1px 1px 2px gray;
}
input:focus {
  /* border: 2px solid black; */
  outline: none;
  /* box-shadow:var(--drop-shadow-outset); */
  /* background-color:  var(--clr-input-bg-focus); */
}

.filename-input {
  width: 100%;
}

#Tab97ControlsPanel{
  background-color: #0F192A;
  height:65vh;
  overflow-y: scroll;
  padding: 2rem;
}

.TabModule_Input_InTab {
  width:100%;
  /* width:auto; */
  /* justify-self:center; */
  height:3rem;
  box-shadow:none;
  background-color: var(--clr_app_bg);
  color:var(--clr_text);
  font-size: 2rem;
  /* margin: 0 1rem 1rem 0; */
  text-align:center;
  font-family: Courier;
}

button {
  /* width: 100px; */
  /* margin-left: 20px;
  margin-top: 20px; */
  font-size: 8pt;
  font-weight: var(--button_font_weight);
  /* height:50px; */
  border: none;
  font-family: Courier;
  /* font-size: 12px; */
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px black;
  overflow: hidden;
  /* border-radius: 4px; */
  background-color: var(--clr_button);
  color: var(--clr_button_text);
}
button:hover {
  font-weight: var(--button_font_weight_active);
  /* background-color: color( var(--clr-button) lightness(+10%)); */
}
button:focus {
  outline: none;
  /* box-shadow: var(--drop_shadow_inset); */
  /* background-color: color( var(--clr-button) lightness(+10%)); */
}
button:active {
  outline: none;
  box-shadow: var(--drop_shadow_inset);
  /* background-color: color( var(--clr-button) lightness(+10%)); */
}

button.reseed {
  /* justify-self: end; */
  /* width: 100%; */
  height: 25px;
  /* margin: 10px 2%; */
  border-radius: 4px;
  /* border: 1px solid gray; */
  /* font-weight: bold; */
  /* background-color: hsl(10, 50%, 50% ); */
  /* background: linear-gradient(hsl(200, 10%, var(--redrawL)), hsl(200, 50%, var(--redrawL)) ); */
  /* background-image: linear-gradient(red, yellow); */
}
button.reseed:focus {
  /* border:none; */
  outline: none;
  /* border-color: #2196F3; */
  /* background: linear-gradient(hsl(200, 10%, calc( var(--redrawL) * var(--activeMult) ) ), hsl(200, 50%, calc( var(--redrawL) * var(--activeMult) ) ) ); */
  /* background-color: hsl(200, 50%, calc( var(--redrawL) * var(--activeMult)) ); */
}

#save-json-button {
  background: linear-gradient(hsl(10, 50%, 70%), hsl(10, 50%, 50%));
  color: white;
  /* background-color: ; */
}

/* button.redraw {
  width: 100%;
  height:30px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid gray;

  background-image: linear-gradient(hsl(200, 10%, var(--redrawL)), hsl(200, 50%, var(--redrawL)) );
}
button.redraw:active {
  outline:none;
  background-color: hsl(200, 50%, calc( var(--redrawL) * var(--activeMult)) );
} */

.slider,
.slider-hue,
.slider-sat,
.slider-lit,
.slider-alpha {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 100%;
  /* max-width:50rem; */
  height: 2px;
  background: hsl(200, 50%, 50%);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:focus {
  background: hsl(200, 50%, 40%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.2rem;
  height: 1rem;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: var(--clr_slider_thumb);
  cursor: grab;
}

.slider-hue {
  /* height: 4px; */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    turquoise,
    blue,
    violet
  );
}

.slider-sat {
  /* height: 4px; */
  background: linear-gradient(to right, hsl(60, 0%, 50%), hsl(60, 100%, 50%));
}

.slider-lit {
  /* height: 4px; */
  background: linear-gradient(to right, hsl(200, 50%, 0%), hsl(200, 50%, 100%));
}

.slider-alpha {
  background: linear-gradient(
    to right,
    hsla(200, 50%, 100%, 0),
    hsl(200, 50%, 0%)
  );
}

.slider-hue::-webkit-slider-thumb,
.slider-sat::-webkit-slider-thumb,
.slider-lit::-webkit-slider-thumb,
.slider-alpha::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  border-radius: 10px;
  background: var(--clr_slider_thumb);
  cursor: grab;
}

.frame-button {
  font: arial;
  box-shadow: none;
  height: 100%;
  width: 1rem;
  background: none;
  color: var(--clr_text);
  padding: 0;
  outline: none;
  -webkit-app-region: no-drag;
}
.frame-button:hover {
  outline: none;
  color: gray;
  /* color: color(var(--clr-text) lightness(+ 50)); */
}
.frame-button:focus {
  outline: none;
}
.frame-button:active {
  outline: none;
  color: red;
}

.on-off {
  -webkit-appearance: none;
  width: 2rem;
  height: 1rem;
  background: var(--clr_on_off_bg);
  outline: none;
  border-radius: 1rem;
  /* border: 1px solid black; */
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.on-off:hover {
  opacity: 1;
}
.on-off:focus {
  /* background: hsl(200,50%,40%); */
  /* background: var(--clr-input-bg); */
}
.on-off::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8rem;
  height: 1rem;
  /* border: 1px solid black; */
  border-radius: 1rem;
  background-color: var(--clr_on_off_thumb);
  cursor: grab;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr_text);
  /* width:3px; */
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0);
  border-top: 20px solid rgba(0, 0, 0, 0);
  border-bottom: 20px solid rgba(0, 0, 0, 0);
  padding: 10rem 0;
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* width: 3px; */
  /* background: #555; */
}

/* =============
   layout
   ============= */

#container {
  display: grid;
  /* flex-direction:column; */
  justify-content: center;
  align-content: start;
  /* align-items: start; */
  /* grid-template-columns: 60vw 40vw; */
  width: 100vw;
  height: var(--container_height);
  /* padding: var(--app_padding); */

  /* padding:3rem;  */
  /* border: solid 1px black; */
  /* border: solid calc(var(--borderThickness) * 2); */
  /* background-color: white; */
  /* background-color: hsl(0,0%,95%); */
  /* background-color: gray; */
  /* background: linear-gradient(to right, hsl(var(--BGHue),50%,90%), hsl(var(--BGHue),50%,98%)); */
}

.window-frame {
  display:none;
  background-color: var(--clr_window_frame);
  text-align: right;
  height: var(--frame_height);
  color: white;
  padding: 0 0.3rem;
  /* -webkit-app-region: drag; */
  /* border-bottom: 1px solid gray; */
  /* border-top: 1px solid black; */
}

.app-container {
  /* box-sizing: border-box; */
  display: grid;
  height: 100%;
  width: 100vw;
  /* margin:auto;   */
  padding: var(--app_padding);

  justify-items: center;
  align-content: start;
  align-items: start;

  /* grid-template-rows: 60vh 40vh; */
  /* grid-template-columns: calc(60vw - var(--app_padding)) calc(40vw - var(--app_padding)); */
  grid-template-columns: var(--drawing_container_width) auto;

}

.app-container-item {
  display: grid;
  width: 100%;
  height: 100%;

  /* align-items: center; */
  /* position:relative; */
  /* max-height:100vh; */
  /* flex-direction:column; */
  /* flex: 50%; */
  /* padding:5px; */
  /* width:100%; */
  /* height:500px; */
  /* box-sizing: border-box; */
  /* justify-content: center;
  align-content: flex-start; */
  border: solid red var(--borderThickness);
  /* overflow:hidden; */
}

.module-header {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: end;
}

.module-header-name {
  font-size: 16pt;
  font-weight: bold;
}

.module-header-on {
  justify-self: end;
}

.input-form-container {
  display: grid;

  height: 100vh;
  grid-template-columns: var(--tab_bar_width)    calc(100vw - var(--tab_bar_width) - var(--drawing_container_width) - var(--app_padding) - var(--app_padding) );

  height: calc(var(--app_height) - var(--app_padding)*2);

  justify-self:start;

  /* border-radius: 3px; */

}

#input-form {

  width:100%;
  border-radius: 3px;
  overflow-y: hidden;
  justify-self:end;

  


  box-shadow: var(--drop_shadow_input_form);

  border: solid 1px var(--clr_input_form_bg_border);


  background-color: var(--clr_input_form_bg);

}

.tabcontent {

  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  
  /* overflow-y: scroll; */
  /* height:100%; */
  width:100%;
  padding: 2rem 1rem;
  

  box-sizing: border-box;

  /* justify-self: center; */
  /* align-content: center; */
  border: solid var(--borderThickness);
}

.subsection {
  display: grid;
  /* width: 100%; */
  /* grid-gap:0.5rem; */
  
  margin-bottom: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* padding: 0.5rem 0; */
  background-color: var(--clr_subsection);
  /* border: solid black var(--borderThickness); */
  border-top: 1px solid var(--clr_subsection_border);
  border-radius: 0.2rem;
}

.grid-container-Nx1,
.grid-container-Nx2,
.grid-container-Nx3 {
  display: grid;
  /* width: 10rem; */
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
  margin-bottom:2rem;
  justify-items: start;
  /* justify-content: start; */
  align-items: center;
  /* align-content: center; */
  padding: 1.0rem 0.1rem;
  /* background-color: var(--clr-subsection); */
  /* border: solid black var(--borderThickness); */
  border-top: 1px solid var(--clr-subsection-border);
  /* border-radius: 0.2rem; */
}

.grid-container-Nx1 {
  /* display:flex;
  flex-direction: column; */
  grid-template-columns: 1fr;
  /* justify-items: start; */
}

.grid-container-Nx2 {
  grid-template-columns: 8rem 8rem;
}

.grid-container-Nx3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: solid black var(--borderThickness);
}
.control-name {
  /* min-width:0; */
  font-size: 8pt;
  color: var(--clr-control-name-text);
  border: solid black var(--borderThickness);
  overflow: hidden;
  /* text-align:end; */
}
.control {
  /* overflow:hidden; */
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  /* grid-template-rows: 1fr 1fr; */
  width: 100%;
  justify-self: start;
  padding: 3%;
  border: solid black var(--borderThickness);
}



.layer_list_add_delete_buttons {
  /* width:1rem; */
  /* height:1rem; */
  padding: 0.2rem 0.4rem;
  /* text-align:center; */
  /* align-self:end; */
  background-color:var(--clr_input_form_bg);
  color:var(--clr_text);
  border-radius:1rem;
}

.layer-list {
  display: grid;
  width: 100%;
  height:var(--padded_app_height);
  grid-template-columns: 1fr;
  /* grid-gap:0.5rem; */
  margin-bottom: 2rem;
  justify-items: start;
  justify-content: start;
  align-items: center;
  align-content: center;
  /* padding: 0.5rem 0; */
  /* background-color: var(--clr_subsection); */
  /* border: solid black var(--borderThickness); */
  border-top: 1px solid var(--clr_subsection_border);
  border-radius: 0.2rem;
}

.layer-list-item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  /* margin-bottom:2rem; */
  justify-items: start;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.2rem 1rem;
}
.layer-list-item:hover {
  /* background-color: gray; */
}
.layer-list-item:focus {
  /* background-color: white; */
  /* color: white; */
  /* border: 1px solid white; */
}



.button-panel {
  display: flex;
  flex-direction: column;
  /* margin-right:10px; */
  /* background-color: hsl( var(--BGHue), 50%, 90% ); */
  border: solid var(--borderThickness);
}

#drawing-container {
  /* display: none; */
  position: relative;

  height: 100%;
  width: var(--drawing_container_width);

  overflow:hidden;

  border-radius: 3px;

  background-color: var(--clr_drawing_container);

}

.myCanvas {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  /* box-shadow: 0px 0px 3px 0px gray; */

  border: dashed black var(--borderThickness);
}

#canvas4Shadow {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  /* box-shadow: 0px 0px 3px 0px black; */

  border: dashed black var(--borderThickness);
}

#overlay-grad {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-numeric {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 1%; */
  justify-items: center;
  text-align: center;
  grid-gap: 3%;
}
.grid-numeric-item {
  padding: 5%;
}

.grid-color-picker {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* background-color: #2196F3; */
  padding: 10px;
  justify-items: center;
  text-align: center;
  grid-gap: 3px;
}
.grid-color-picker-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  /* font-size: 30px; */
  /* text-align: left; */
}

.grid-xy-pos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  justify-items: center;
}
.grid-xy-pos-itemm {
  padding: 5px;
}

.grid-leafCanvas {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  padding: 10px;
  justify-items: center;
  grid-gap: 3px;
}
.grid-leafCanvas-controls {
  display: grid;
  /* flex-direction: column; */
  grid-template-rows: 1fr 1fr;
  padding: 5px;
}

/* Style the tab */
.tab-bar {
  display: grid;
  grid-template-rows: 3rem 3rem 3rem auto 7rem;
  /* flex-direction: column; */
  align-items: start;
  /* justify-content:flex-start; */
  border: solid var(--borderThickness);
  /* height: var(--padded_app_height); */
  overflow-y: hidden;
  padding: 0 0.5rem;
  /* height:100%; */
  /* --tabAlpha: 0.1; */
  /* height:50px; */
  /* border: 1px solid #ccc; */
  /* background-color:hsl(var(--BGHue),50%,90%); */
}

.tab-bar-layers-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 1px 5px;
  align-items: center;
  width:100%;
  height:100%;
  /* justify-self: flex-start; */
  
  /* height: calc(var(--app_height) - var(--app_padding) * 2); */
}

.layer_add_delete_container {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
  align-self:end;
  padding: 1rem;
  overflow-y:hidden;
}

/* Style the buttons inside the tab */
.tablinks {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;

  outline: none;
  background: var(--clr_tab_button);

  /* background-color: var(--clr-tab-button); */
  color: var(--clr_tab_button_text);
  overflow: hidden;
  background-color: none;
  box-shadow: var(--drop_shadow_outset);
  box-shadow: none;
  box-sizing: border-box;
  /* opacity: 0; */
  height: 1.5rem;
  width: 80%;

  /* float: left; */
  border-radius: 3px;
  margin: 0px 0px 10px 0;
  /* box-sizing: border-box; */
  /* outline: none; */
  border-bottom: 1px solid var(--clr_btn_border);
  cursor: pointer;
  padding: 14px 3px;
  /* transition: 0.3s; */
  font-family: "Courier New", Courier, monospace;
  font-weight: var(--clr_tab_button_font_weight);
  /* font-size: 100%; */
  /* text-align: left; */
  /* border-right:solid 1px var(--clr-btn-border); */
  /* border:none; */
  /* border-right:solid 1px var(--clr-tab-button-hover); */
}

.tablinks[name="MainTab"],
.tablinks[name="DocPropsTab"],
.tablinks[name="LayersTab"]
 {
  width:100%;
  background-color: var(--clr_tab_button);
  /* border:none; */
  font-size: 1.2rem;
  /* border-right:solid 1px var(--clr-btn-border); */
  height: 3rem;
  justify-content: center;
  align-items: center;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  outline: none;
  border-bottom: solid 1px var(--clr_tab_button_hover);
  /* border:none; */
  /* border-right:solid 1.1px var(--clr-tab-button-hover); */
  /* border: none; */
  /* --alphaActive: calc( var(--tabAlpha) * 2); */
  /* background-color: hsl( var(--tabH), var(--tabS), calc(var(--tabL)*0.95 ) ); */
}

.tablinks:focus {
  outline: none;
  /* border: none; */
  /* border-right:solid 1px var(--clr-tab-button-hover); */
  /* border: none; */
  /* --alphaActive: calc( var(--tabAlpha) * 2); */
  /* background-color: hsl( var(--tabH), var(--tabS), calc(var(--tabL)*0.95 ) ); */
}

/* Create an active/current tablink class */
.tablinks.active {
  border-bottom: solid 1px var(--clr_tab_button_active);
  /* border-bottom:solid 1.5px var(--clr-tab-button-hover); */
  /* background-color: var(--clr-tab-button-active); */
  /* box-shadow: var(--drop-shadow-inset); */
  /* border:solid 1px hsl(0,0%,80%); */
  outline: none;
  /* border-bottom: solid 1px black; */
}



















/* =========
media queries 
=============*/

/* VERTICAL SCREEN */
@media (max-aspect-ratio: 1/1) {

  /* --input_form_container_height_vert: 100; */
  
  .app-container {
    height: var(--app_height);
    width:100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:1rem;
    padding:1rem;
    /* overflow:hidden; */
  }

  .input-form-container {
    width: 100%;  
    height: calc( var(--app_height) * 1/2 );  
    grid-template-columns: 1fr 3fr;  

    /* height: 5rem;   */
    
    /* grid-template-rows: auto 1fr ; */
  }

  /* #drawing-container {
    background-color: var(--clr_input_form_bg);
    padding:1rem;
  } */

  #input-form {
    height: 5rem; 
    height: calc( var(--app_height) * 1/2 );  
  }

  .tab-bar{
    height: calc( var(--app_height) * 1/2 );  
  }
}
