/* TABLE OF CONTENTS
  0. variables
  1. global styles
  2. typography
  3. components
  4. layout */





/* =============
   variables
   ============= */

:root {
  /* --borderThickness:1px; */
  --canvBorderThickness: 4px;

  /* THEME VARIABLES (DARK THEME DEFAULT) */
  /* --frame_height: 1.5rem; */
  --app_height: 100vh;
  --container_height:100vh;
  /* --app_padding: 2rem; */
  --app_padding_top_bottom: 1rem;
  --app_padding_left_right: 2rem;

  --drawing_container_width: 250px;

  

  --padded_app_height: calc( var(--container_height) - var(--app_padding) * 2);

  --clr_app_bg: hsla(0, 0%, 10%);
  --clr_window_frame: hsl(0, 0%, 20%);

  --clr_input_form_bg: hsl(0, 0%, 15%);
  --clr_input_form_bg_border: hsl(0, 0%, 0%);

  --clr_drawing_container: hsl(0,0%,60%);
  --clr_subsection: none;
  --clr_subsection_border: hsl(0, 0%, 80%);
  --clr_tab_button: var(--clr_input_form_bg);
  --clr_tab_button: none;
  --clr_tab_button_text: hsl(200, 40%, 50%);
  --clr_tab_button_font_weight: bold;
  --clr_text: hsl(0, 0%, 95%);

  --clr_button: hsl(200, 30%, 70%);
  --button_font_weight: 600;
  --button_font_weight_active: 550;
  --clr_button_text: hsl(0, 0%, 0%);
  --drop_shadow_inset: inset 0 0 2px black;
  --drop_shadow_outset: 0.1px 0.3px 3px hsl(0, 0%, 5%);

  --drop_shadow_subsection: var(--drop_shadow_inset);
  --drop_shadow_input_form: var(--drop_shadow_outset);

  --clr_btn_border: hsl(200, 40%, 50%);
  --clr_tab_button_hover: hsl(200, 40%, 40%);
  --clr_tab_button_active: hsl(200, 40%, 80%);

  --clr_input_bg: hsl(0,0%,5%);
  /* --clr_input_bg_focus: hsl(0,0%,5%); */
  --input_font_weight: 600;

  --clr_on_off_bg: hsl(250, 20%, 80%);
  --clr_on_off_thumb: hsl(230, 30%, 50%);
  --clr_slider_thumb: hsl(100, 10%, 80%);

  /* --clr_h1: hsl(000, 30%, 80%);
  --clr_h2: hsl(000, 30%, 80%);
  --clr_h3: hsl(100, 20%, 90%);
  --clr_h4: hsl(200, 30%, 80%);
  --clr_h5: hsl(090, 30%, 80%); */

  --sat_header: 30%;
  --lit_header: 80%;
  --clr_h1: hsl(000, var(--sat_header), var(--lit_header));
  --clr_h2: hsl(250, var(--sat_header), var(--lit_header));
  --clr_h3: hsl(100, var(--sat_header), var(--lit_header));
  --clr_h4: hsl(200, var(--sat_header), var(--lit_header));
  --clr_h5: hsl(060, var(--sat_header), var(--lit_header));

  --clr_control_name_text: hsl(90, 15%, 80%);

  /* OTHER VARIABLES */
  --panelHeight: 400px;
  --panelH: 180;
  --panelS: 30%;
  --panelL: 95%;

  --litBG2: 95%;

  --tabS: 30%;
  --tabL: 98%;
  --tabLHover: 97%;
  --tabLActive: 90%;

  --tabH: 180;

  --redrawL: 80%;
  --activeMult: 0.9;

  --BGHue: 150;

  /* --input_form_container_width: 20rem; */
  --input_form_container_width: 42rem;
  --height_window_frame: 2rem;
  --input_form_width: 40rem;
  --tab_bar_width: 4rem;
  --height_panel: 70vh;

}

/* =============
   global styles
   ============= */

html {
  margin: 0;
  /* width:100%; */
}

body {
  margin: 0;
  /* padding:0; */
  /* width: 100%; */
  font-family: "Courier";
  font-size: 8pt;

  /* background: linear-gradient(to right, hsl(var(--BGHue),50%,90%), hsl(var(--BGHue),50%,98%)); */
  background-color: var(--clr_app_bg);
  color: var(--clr_text);
}

* {
  box-sizing: border-box;
}

/* =============
   typography
   ============= */
h1,
h2,
h3,
h4,
h5,
control-name {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  /* text-align: center; */
  font-weight: 700;
  margin:0;
  margin-top: 0.5rem;
  color: var(--clr_text);
}

h2 {
  font-size: 2.2rem;
  /* text-align: center; */
  margin:0;
  margin-top: 0.5rem;
  font-weight: 650;
  color: var(--clr_h2);
  color: var(--clr_text);
}

h3 {
  font-size: 1.5rem;
  /* margin-left: 10px; */
  /* margin-bottom: 1px; */
  
  margin:0;
  margin-top: 0.5rem;
  font-weight: 600;
  color: var(--clr_h3);
  color: var(--clr_text);
}

h4 {
  font-size: 1rem;
  margin:0;
  margin-top: 0.5rem;
  color: var(--clr_h4);
  font-weight: 550;
  color: var(--clr_text);
}

h5 {
  font-size: 0.85rem;
  margin:0;
  margin-top: 0.5rem;
  font-weight: 500;
  color: var(--clr_h5);
  color: var(--clr_text);
}

p {
  margin: 1rem;
}

/* =============
   components
   ============= */

input {
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 1rem;
  color: var(--clr_text);
  margin: 0.1rem 0.2em;
  background-color: var(--clr_input_bg);
  box-shadow: none;
}

input:focus {
  /* border: 2px solid black; */
  outline: none;
  /* box-shadow:var(--drop-shadow-outset); */
  /* background:none; */
  /* background-color: hsl(0, 0%, 8%); */
}

.filename-input {
  width: 10rem;
  height: 100%;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-size: 1rem;
  /* font-weight: var(--input_font_weight); */
  color: var(--clr_text);
  margin: 0.1rem 0.2em;
  /* background-color:  var(--clr-input-bg-focus); */
  /* background-color:  hsla(255, 50%, 50%, 0.5); */
  background-color: hsl(0, 0%, 8%);
  /* background:none; */
  box-shadow: none;
}

.filename-input:focus {
  /* border: 2px solid black; */
  appearance:none;
  outline: none;
  /* box-shadow:var(--drop-shadow-outset); */
  background-color: hsl(0, 0%, 8%);
  /* background:none; */
}

.filename-input:active {
  /* border: 2px solid black; */
  outline: none;
  /* box-shadow:var(--drop-shadow-outset); */
  background-color: hsl(0, 0%, 8%);
  /* background:none; */
}


/* .filename-input {
  width: 100%;
} */
#Tab99Panel{
  /* background-color: #0F192A; */
  /* background-color: hsl(218, 47%, 11%); */
  border-top:2px solid black;
  height:60vh;
  overflow-y: scroll;
  padding: 1rem 2rem;
}

#Tab98ControlsPanel{
  /* background-color: #0F192A; */
  /* background-color: hsl(218, 47%, 11%); */
  border-top:2px solid black;
  height:60vh;
  overflow-y: scroll;
  padding: 1rem 2rem;
}

#Tab97ControlsPanel{
  /* background-color: #0F192A; */
  /* background-color: hsl(218, 0%, 5%); */
  /* height: calc( (var(--app_height) - var(--app_padding)*2 - var(--height_window_frame)) *0.7); */
  /* border-top:2px solid black; */
  height:70vh;
  overflow-y: scroll;
  padding: 1rem 2rem;
}

#Tab97CodePanel{
  /* background-color: #0F192A; */
  /* background-color: hsl(218, 47%, 11%); */
  /* height: calc( (var(--app_height) - var(--app_padding)*2 - var(--height_window_frame)) *0.7); */
  height:var(--height_panel);
  overflow-y: hidden;
  /* overflow-y: scroll; */
  /* padding: 2rem; */
}

.layer_geom_input {
  width:10rem;
  /* width:auto; */
  /* justify-self:center; */
  /* height:2rem; */
  box-shadow:none;
  border:none;
  /* border-bottom: 1px solid var(--clr_text); */
  outline:none;
  
  background-color: hsl(0, 0%, 8%);
  /* background-color: none; */
  /* background: none; */
  color:var(--clr_text);
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0 1rem;
  text-align:center;
  font-family: Courier;
}

button {
  /* width: 100px; */
  /* margin-left: 20px;
  margin-top: 20px; */
  font-size: 8pt;
  font-weight: var(--button_font_weight);
  /* height:50px; */
  border: none;
  font-family: Courier;
  /* font-size: 12px; */
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px black;
  overflow: hidden;
  /* border-radius: 4px; */
  background-color: var(--clr_button);
  color: var(--clr_button_text);
}
button:hover {
  font-weight: var(--button_font_weight_active);
  /* background-color: color( var(--clr-button) lightness(+10%)); */
}
button:focus {
  outline: none;
  /* box-shadow: var(--drop_shadow_inset); */
  /* background-color: color( var(--clr-button) lightness(+10%)); */
}
button:active {
  outline: none;
  box-shadow: var(--drop_shadow_inset);
  /* background-color: color( var(--clr-button) lightness(+10%)); */
}




button.reseed {
  /* justify-self: end; */
  /* width: 100%; */
  height: 25px;
  /* margin: 10px 2%; */
  border-radius: 4px;
  /* border: 1px solid gray; */
  /* font-weight: bold; */
  /* background-color: hsl(10, 50%, 50% ); */
  /* background: linear-gradient(hsl(200, 10%, var(--redrawL)), hsl(200, 50%, var(--redrawL)) ); */
  /* background-image: linear-gradient(red, yellow); */
}
button.reseed:focus {
  /* border:none; */
  outline: none;
  /* border-color: #2196F3; */
  /* background: linear-gradient(hsl(200, 10%, calc( var(--redrawL) * var(--activeMult) ) ), hsl(200, 50%, calc( var(--redrawL) * var(--activeMult) ) ) ); */
  /* background-color: hsl(200, 50%, calc( var(--redrawL) * var(--activeMult)) ); */
}


.editor_tools_bar {
  display:flex;
  flex-direction: row;
  height: 2rem;
  justify-content:space-evenly;
  align-content:center;
  align-items:center;
  margin:1rem 0rem;
  /* border-top: 1px solid gray; */
  border-bottom: 1px solid gray;
}

.controls_code_toggle {
  -webkit-appearance: none;
  appearance: none;
  width: 6rem;
  height: 2rem;
  /* padding:0.2rem; */
  background-color: hsl(0, 0%, 5%);
  outline: none;
  border-radius: 0rem;
  margin-right: auto;
  border: none;
  box-shadow:none;
  /* opacity: 0.7; */
  /* -webkit-transition: 0.2s; */
  /* transition: opacity 0.2s; */
}
.controls_code_toggle::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3rem;
  height: 2rem;
  
  border: 0.2rem solid hsl(0, 0%, 5%);
  /* border: none; */
  border-radius: 0rem;
  background-color: hsl(0, 00%, 20%);
  cursor: grab;
}

button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}



button.save_code_button {
  height: 1.3rem;
  margin: 0 0.2rem;
  border-radius: 2px;
  border: 1px solid hsl(0, 50%, 85%);
  background-color: hsl(218, 47%, 11%);
  color:var(--clr_text);
  font-family:'Courier New', Courier, monospace;
  /* box-shadow: 0 0 4px gray; */
  /* border-radius: 0.5rem; */
}
button.save_code_button:hover {
  cursor: pointer;
}
button.save_code_button:focus {
  outline: none;
}
button.save_code_button:active {
  outline: none;
  height:1.2rem;
  /* box-shadow: 0 0 1px gray; */
}

button.load_code_button {
  /* height: 2rem; */
  margin: 0 0.2rem;
  /* border-radius: 0rem; */
  background-color: hsl(0, 0%, 8%);
  color: var(--clr_text);
  font-family:'Courier New', Courier, monospace;
  border-radius: 0.2rem;
  border: 1px solid var(--clr_text);
}
/* button.load_code_button:hover {
  cursor: pointer;
}
button.button.load_code_button:focus {
  outline: none;
} */


button.open_project_button {
  height: 100%;
  margin: 0 0.2rem;
  border-radius: 0rem;
  background-color: hsl(122, 29%, 5%);
  color: var(--clr_text);
  font-family:'Courier New', Courier, monospace;
  border-radius: 0.2rem;
}
/* button.save_project_button:hover {
  cursor: pointer;
}
button.save_project_button:focus {
  outline: none;
} */

button.save_project_button {
  height: 100%;
  margin: 0 0.2rem;
  border-radius: 0rem;
  background-color: hsl(0, 30%, 20%);
  color: var(--clr_text);
  font-family:'Courier New', Courier, monospace;
  border-radius: 0.2rem;
}
button.save_project_button:hover {
  cursor: pointer;
}
button.save_project_button:focus {
  outline: none;
}




button.panel_buttons {
  /* justify-self: right; */
  /* width: 100%; */
  /* margin-right: auto; */
  justify-self: flex-start;
  height: 2rem;
  margin: 0 0.2rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  /* background-color: hsl(0, 0%, 10%); */
  border:1px solid hsla(0, 0%, 100%, 0);
  /* border-bottom: 1px solid var(--clr_input_form_bg); */
  /* background-color: hsl(218, 47%, 11%); */
  /* color:hsl(0,0%,40%); */
  font-family:'Courier New', Courier, monospace;
  box-shadow: none;
  background-color: hsl(0,0%,20%);
  /* background: none; */
  /* box-shadow: 0 2px 3px black; */
  /* box-shadow: inset 1px 1px 2px black; */

  /* border: 1px solid gray; */
  /* font-weight: bold; */
  /* background-color: hsl(10, 50%, 50% ); */
  /* background: linear-gradient(hsl(200, 10%, var(--redrawL)), hsl(200, 50%, var(--redrawL)) ); */
  /* background-image: linear-gradient(red, yellow); */
}

button.panel_buttons:focus {
  outline: none;
  box-shadow:none;
}

button.panel_buttons:hover {
  cursor: pointer;
}

button.panel_buttons.active {
  /* border:none; */
  outline: none;
  /* outline: 1px solid white; */
  /* background-color: hsl(0, 0%, 5%); */
  /* border-bottom: 1px solid hsl(0,0%,40%); */
  border:0.5px solid gray;
  border-bottom:none;
  box-shadow:none;
  color:var(--clr_text);
  height: calc(2rem + 1px);
  /* box-shadow: inset 1px 1px 2px black; */
  /* box-shadow: 0 1px 3px black; */
  /* background-color: hsl(0, 0%, 8%); */
  /* background-color: hsl(218, 47%, 11%); */
  /* background-color: hsl(0,0%,20%); */
  /* background-color: hsl(0,0%,50%); */
  /* background: none; */
  /* border-color: #2196F3; */
  /* background: linear-gradient(hsl(200, 10%, calc( var(--redrawL) * var(--activeMult) ) ), hsl(200, 50%, calc( var(--redrawL) * var(--activeMult) ) ) ); */
  /* background-color: hsl(200, 50%, calc( var(--redrawL) * var(--activeMult)) ); */
}

#code_panel_button.panel_buttons{
  color:turquoise;
}

#controls_panel_button.panel_buttons{
  
  color:rgb(124, 177, 124);
}



/* #save-json-button {
  background: linear-gradient(hsl(10, 50%, 70%), hsl(10, 50%, 50%));
  color: white;
} */

/* button.redraw {
  width: 100%;
  height:30px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid gray;

  background-image: linear-gradient(hsl(200, 10%, var(--redrawL)), hsl(200, 50%, var(--redrawL)) );
}
button.redraw:active {
  outline:none;
  background-color: hsl(200, 50%, calc( var(--redrawL) * var(--activeMult)) );
} */

.slider,
.slider-hue,
.slider-sat,
.slider-lit,
.slider-alpha {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 100%;
  /* max-width:50rem; */
  height: 2px;
  background: hsl(200, 50%, 50%);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:focus {
  background: hsl(200, 50%, 40%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.2rem;
  height: 1rem;
  /* border: 1px solid black; */
  border-radius: 10px;
  background: var(--clr_slider_thumb);
  cursor: grab;
}

.slider-hue {
  /* height: 4px; */
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    turquoise,
    blue,
    violet
  );
}

.slider-sat {
  /* height: 4px; */
  background: linear-gradient(to right, hsl(60, 0%, 50%), hsl(60, 100%, 50%));
}

.slider-lit {
  /* height: 4px; */
  background: linear-gradient(to right, hsl(200, 50%, 0%), hsl(200, 50%, 100%));
}

.slider-alpha {
  background: linear-gradient(
    to right,
    hsla(200, 50%, 100%, 0),
    hsl(200, 50%, 0%)
  );
}

.slider-hue::-webkit-slider-thumb,
.slider-sat::-webkit-slider-thumb,
.slider-lit::-webkit-slider-thumb,
.slider-alpha::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 15px;
  border-radius: 10px;
  background: var(--clr_slider_thumb);
  cursor: grab;
}

.frame-button {
  font: arial;
  box-shadow: none;
  height: 100%;
  width: 1rem;
  background: none;
  color: var(--clr_text);
  padding: 0;
  outline: none;
  -webkit-app-region: no-drag;
}
.frame-button:hover {
  outline: none;
  color: gray;
  /* color: color(var(--clr-text) lightness(+ 50)); */
}
.frame-button:focus {
  outline: none;
}
.frame-button:active {
  outline: none;
  color: red;
}








.on-off {
  -webkit-appearance: none;
  width: 2rem;
  height: 1rem;
  background: var(--clr_on_off_bg);
  outline: none;
  border-radius: 1rem;
  /* border: 1px solid black; */
  /* opacity: 0.7; */
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.on-off:hover {
  opacity: 1;
}
.on-off:focus {
  /* background: hsl(200,50%,40%); */
  /* background: var(--clr-input-bg); */
}
.on-off::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8rem;
  height: 1rem;
  /* border: 1px solid black; */
  border-radius: 1rem;
  background-color: var(--clr_on_off_thumb);
  cursor: grab;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: hsl(0,0%,5%);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr_text);
  /* width:1px; */
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-top: 20px solid rgba(0, 0, 0, 0);
  border-bottom: 20px solid rgba(0, 0, 0, 0);
  padding: 10rem 0;
  background-clip: padding-box;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* width: 3px; */
  /* background: #555; */
}

/* =============
   layout
   ============= */

#container {
  display: grid;
  /* flex-direction:column; */
  justify-content: center;
  align-content: start;
  /* align-items: start; */
  /* grid-template-columns: 60vw 40vw; */
  width: 100vw;
  height: var(--container_height);
  /* padding: var(--app_padding); */
}

.window-frame {
  display:flex;
  /* background-color: hsl(0, 0%, 13%); */
  /* background-color: var(--clr_input_form_bg); */
  justify-content:flex-start;
  /* text-align: right; */
  margin:var(--app_padding_top_bottom) calc( var(--tab_bar_width) + var(--app_padding_left_right)) 0 var(--app_padding_left_right);
  /* height: var(--height_window_frame); */
  height: var(--height_window_frame);
  color: white;
  /* padding: 0.5rem var(--app_padding_left_right); */
  /* padding: 0.5rem 0; */
  /* height: 1.5rem; */
  align-items:center;
  
  border-radius: 3px;
  /* box-shadow: var(--drop_shadow_input_form); */
  /* grid-template-columns: 1fr auto; */
  border-bottom: solid 1px var(--clr_input_form_bg_border);
}





.additional-controls-bar-left {
  display:flex;
  /* background-color: var(--clr_input_form_bg); */
  /* grid-template-columns: 1fr 5fr 1fr 1fr; */
  padding:0 1rem;
  /* height: 3rem; */
  /* width:var(--input_form_container_width); */
  height: var(--height_window_frame);
  /* margin:auto; */
  /* width: */
  align-items:center;
  /* border-radius:3px; */
  /* box-shadow: var(--drop_shadow_input_form); */
}

.additional-controls-bar-middle {
  display:flex;
  /* background-color: var(--clr_input_form_bg); */
  /* grid-template-columns: 1fr 5fr 1fr 1fr; */
  padding:0 1rem;
  /* height: 3rem; */
  /* width:var(--input_form_container_width); */
  height: var(--height_window_frame);
  /* margin:auto; */
  width: var(--tab_bar_width);
  align-items:center;
  /* border-radius:3px; */
  /* box-shadow: var(--drop_shadow_input_form); */
}

.project-controls-bar {
  display:flex;
  /* background-color: var(--clr_input_form_bg); */
  /* grid-template-columns: 1fr 5fr 1fr 1fr; */
  padding:0 1rem 0.5rem 0;
  width: var(--input_form_width);
  height: var(--height_window_frame);
  align-content:center;
  align-items:center;
  border-radius:3px;
  /* margin: 0.5rem 0 */
  
}





.app-container {
  /* box-sizing: border-box; */
  display: grid;
  /* height: 100vh; */
  width: 100vw;
  /* margin:auto;   */
  padding: var(--app_padding_top_bottom) 0 var(--app_padding_top_bottom) var(--app_padding_left_right);
  padding: var(--app_padding_top_bottom) var(--app_padding_top_bottom);
  overflow-y: hidden;

  justify-items: center;
  align-content: start;
  align-items: start;

  /* grid-template-rows: 60vh 40vh; */
  /* grid-template-columns: calc(60vw - var(--app_padding)) calc(40vw - var(--app_padding)); */
  grid-template-columns: 1fr auto;

}

.app-container-item {
  display: grid;
  width: 100%;
  height: 100%;
  border: solid red var(--borderThickness);
}

.app_left_side_container {
  display: grid;
  grid-template-rows: 3rem 1fr;
  padding: 0.5rem 1rem;
  
  width: 100%;
  height: 100%;
  border: solid red var(--borderThickness);
}

#drawing_container_tool_bar {
  display: flex;
  flex-direction: row;
  margin: 1rem 0 0.1rem 0;
}

.drawing_container_tool_bar_button {
  display: block;
  /* align-content: center;
  justify-content: center; */
  width:20px;
  height:20px;
  padding:0;
  margin:0 0.3rem;
  background-color:black;
  color: var(--clr_text);
}

.module-header {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: end;
}

.module-header-name {
  font-size: 16pt;
  font-weight: bold;
}

.module-header-on {
  justify-self: end;
}




.input-form-container {
  display: grid;

  /* height: 100vh; */
  /* grid-template-columns: var(--tab_bar_width) var(--input_form_width); */
  grid-template-columns: auto auto;
  /* grid-template-columns: var(--tab_bar_width)    calc(100vw - var(--tab_bar_width) - var(--drawing_container_width) - var(--app_padding) - var(--app_padding) ); */

  /* height: calc(var(--app_height) - var(--app_padding_top_bottom)*3 - var(--height_window_frame)); */

  justify-self:start;

  /* border-radius: 3px; */

}

.input-form-container-2 {
  display:grid;
  grid-template-rows: auto 1fr;
}

#input-form {

  width: var(--input_form_width);;
  border-radius: 3px;
  overflow-y: hidden;
  /* overflow-y: scroll; */
  justify-self:start;

  height: calc(var(--app_height) - var(--app_padding_top_bottom)*3 - var(--height_window_frame));

  /* box-shadow: var(--drop_shadow_input_form);*/
  /* border: solid 1px var(--clr_input_form_bg_border); */
  /* background-color: var(--clr_input_form_bg); */

}

.tabcontent {

  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  
  overflow-y: hidden;
  /* height:100%; */
  width:100%;
  padding: 0.5rem 1rem;
  

  box-sizing: border-box;

  /* justify-self: center; */
  /* align-content: center; */
  border: solid var(--borderThickness);
}

.subsection {
  display: grid;
  /* width: 100%; */
  /* grid-gap:0.5rem; */
  
  margin-bottom: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* padding: 0.5rem 0; */
  background-color: var(--clr_subsection);
  /* border: solid black var(--borderThickness); */
  border-top: 1px solid var(--clr_subsection_border);
  border-radius: 0.2rem;
}

.grid-container-Nx1,
.grid-container-Nx2,
.grid-container-Nx3 {
  display: grid;
  /* width: 10rem; */
  grid-row-gap: 1.5rem;
  grid-column-gap: 1rem;
  /* margin-bottom:2rem; */
  justify-items: start;
  /* justify-content: start; */
  align-items: center;
  /* align-content: center; */
  padding: 0.5rem 0.5rem;
  /* background-color: var(--clr-subsection); */
  /* border: solid black var(--borderThickness); */
  border-top: 1px solid var(--clr-subsection-border);
  /* border-radius: 0.2rem; */
}

.grid-container-Nx1 {
  /* display:flex;
  flex-direction: column; */
  grid-template-columns: 1fr;
  /* justify-items: start; */
}

.grid-container-Nx2 {
  grid-template-columns: 8rem 8rem;
  grid-template-columns: 1fr 1fr;
}

.grid-container-Nx3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  padding: 0.5rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: solid black var(--borderThickness);
}
.control-name {
  /* min-width:0; */
  font-size: 8pt;
  color: var(--clr-control-name-text);
  border: solid black var(--borderThickness);
  overflow: hidden;
  /* text-align:end; */
}
.control {
  /* overflow:hidden; */
  display: grid;
  grid-template-areas:
    "a b"
    "c c";
  /* grid-template-rows: 1fr 1fr; */
  width: 100%;
  justify-self: start;
  padding: 3%;
  border: solid black var(--borderThickness);
}





.layer-list {
  display: grid;
  width: 100%;
  height:var(--padded_app_height);
  grid-template-columns: 1fr;
  /* grid-gap:0.5rem; */
  margin-bottom: 2rem;
  justify-items: start;
  justify-content: start;
  align-items: center;
  align-content: center;
  /* padding: 0.5rem 0; */
  /* background-color: var(--clr_subsection); */
  /* border: solid black var(--borderThickness); */
  border-top: 1px solid var(--clr_subsection_border);
  border-radius: 0.2rem;
}

.layer-list-item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  /* margin-bottom:2rem; */
  justify-items: start;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.2rem 1rem;
}
.layer-list-item:hover {
  /* background-color: gray; */
}
.layer-list-item:focus {
  /* background-color: white; */
  /* color: white; */
  /* border: 1px solid white; */
}



.button-panel {
  display: flex;
  flex-direction: column;
  /* margin-right:10px; */
  /* background-color: hsl( var(--BGHue), 50%, 90% ); */
  border: solid var(--borderThickness);
}

#drawing-container {
  /* display: none; */
  position: relative;

  height: 100%;
  width:100%;
  /* width: var(--drawing_container_width); */

  overflow:hidden;

  border-radius: 3px;

  background-color: var(--clr_drawing_container);

}

.myCanvas {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  /* box-shadow: 0px 0px 3px 0px gray; */

  border: dashed black var(--borderThickness);
}

#canvas4Export {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  /* box-shadow: 0px 0px 3px 0px black; */

  border: dashed black var(--borderThickness);
}

#overlay-grad {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-numeric {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* padding: 1%; */
  justify-items: center;
  text-align: center;
  grid-gap: 3%;
}
.grid-numeric-item {
  padding: 5%;
}

.grid-color-picker {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  /* background-color: #2196F3; */
  padding: 10px;
  justify-items: center;
  text-align: center;
  grid-gap: 3px;
}
.grid-color-picker-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 5px;
  /* font-size: 30px; */
  /* text-align: left; */
}

.grid-xy-pos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  justify-items: center;
}
.grid-xy-pos-itemm {
  padding: 5px;
}

.grid-leafCanvas {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr;
  padding: 10px;
  justify-items: center;
  grid-gap: 3px;
}
.grid-leafCanvas-controls {
  display: grid;
  /* flex-direction: column; */
  grid-template-rows: 1fr 1fr;
  padding: 5px;
}

.layer_controls_bar {
  display: flex;
  /* grid-template-rows: 3rem 3rem auto auto; */
  flex-direction: column;
  align-items: center;
  /* justify-content:center; */
  border: solid var(--borderThickness);
  /* height: var(--padded_app_height); */
  overflow-y: hidden;
  overflow-x: hidden;
  /* padding: 4rem 0.5rem 0 0.5rem; */
  /* padding: 0 0.5rem; */
  padding: 0.2rem;

  width:var(--tab_bar_width);
}


/* Style the tab */
.tab-bar {
  display: flex;
  /* grid-template-rows: 3rem 3rem auto auto; */
  flex-direction: row;
  align-items: end;
  /* justify-content:center; */
  border: solid var(--borderThickness);
  /* height: var(--padded_app_height); */
  overflow-y: hidden;
  /* padding: 4rem 0.5rem 0 0.5rem; */
  /* padding: 0 0.5rem; */
  padding: 0.2rem;

  width:var(--tab_bar_width);
  /* height:100%; */
  /* --tabAlpha: 0.1; */
  /* height:50px; */
  /* border: 1px solid #ccc; */
  /* background-color:hsl(var(--BGHue),50%,90%); */
}

.tab-bar-layers-container {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  /* padding: 1px 5px; */
  /* margin:6rem 0; */
  align-items: flex-start;
  width:100%;
  height:100%;
  /* margin-top:auto; */
  /* justify-self: flex-start; */
  
  /* height: calc(var(--app_height) - var(--app_padding) * 2); */
}

.layer_add_delete_container {
  display:flex;
  height: 15rem;
  width:100%;
  flex-direction: column;
  align-self:end;
  align-items: flex-end;
  justify-content: flex-start;
  overflow-y:hidden;
}

.layer_list_add_delete_buttons {
  display:flex;
  justify-content: center;
  align-items: center;
  width:1.2rem;
  height:1.2rem;
  padding: 0;
  margin:0.3rem;
  background-color:var(--clr_input_form_bg);
  color:var(--clr_text);
  border-radius:1rem;
}

/* Style the buttons inside the tab */
/* .tablinks {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;

  outline: none;
  background: var(--clr_tab_button);

  color: var(--clr_tab_button_text);
  overflow: hidden;
  background-color: none;
  box-shadow: var(--drop_shadow_outset);
  box-shadow: none;
  box-sizing: border-box;

  height: 1.5rem;
  width: 80%;

  border-radius: 3px;
  margin: 0px 0px 10px 0;

  border-bottom: 1px solid var(--clr_btn_border);
  cursor: pointer;
  padding: 14px 3px;

  font-family: "Courier New", Courier, monospace;
  font-weight: var(--clr_tab_button_font_weight);

} */

.tablinks[name="MainTab"],
.tablinks[name="DocPropsTab"],
.tablinks[name="LayersTab"]
 {
  width:100%;
  background-color: var(--clr_tab_button);
  /* border:none; */
  font-size: 1.2rem;
  /* border-right:solid 1px var(--clr-btn-border); */
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.tablinks {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
  align-items: center;

  outline: none;
  /* background: hsl(0,0%,0%); */
  background: none;

  /* background-color: var(--clr-tab-button); */
  color: var(--clr_tab_button_text);
  
  overflow: hidden;
  background-color: none;
  /* box-shadow: var(--drop_shadow_outset); */
  box-shadow: none;
  box-sizing: border-box;
  /* opacity: 0; */
  height: 1.5rem;
  width: 1.5rem;

  /* float: left; */
  border-radius: 3px;
  border: 1px solid black;
  margin: 0px 0px 0.2rem 0;
  /* box-sizing: border-box; */
  /* outline: none; */
  /* border-bottom: 1px solid var(--clr_btn_border); */
  cursor: pointer;
  text-align:center;
  /* padding: 14px 3px; */
  padding: 0;
  /* transition: 0.3s; */
  font-family: "Courier New", Courier, monospace;
  font-weight: var(--clr_tab_button_font_weight);
  /* font-size: 100%; */
  /* text-align: left; */
  /* border-right:solid 1px var(--clr-btn-border); */
  /* border:none; */
  /* border-right:solid 1px var(--clr-tab-button-hover); */
}

/* Change background color of buttons on hover */
.tablinks:hover {
  outline: none;
  /* border-bottom: solid 1px var(--clr_tab_button_hover); */
  /* border:none; */
  /* border-right:solid 1.1px var(--clr-tab-button-hover); */
  /* border: none; */
  /* --alphaActive: calc( var(--tabAlpha) * 2); */
  /* background-color: hsl( var(--tabH), var(--tabS), calc(var(--tabL)*0.95 ) ); */
}

.tablinks:focus {
  outline: none;
  /* border: none; */
  /* border-right:solid 1px var(--clr-tab-button-hover); */
  /* border: none; */
  /* --alphaActive: calc( var(--tabAlpha) * 2); */
  /* background-color: hsl( var(--tabH), var(--tabS), calc(var(--tabL)*0.95 ) ); */
}

/* Create an active/current tablink class */
.tablinks.active {
  /* border-bottom: solid 1px var(--clr_tab_button_active); */
  /* border-bottom:solid 1.5px var(--clr-tab-button-hover); */
  /* background-color: hsl(0,0%,10%); */
  color: var(--clr_text);
  height: 1.5rem;
  width: 1.6rem;
  /* box-shadow: var(--drop-shadow-inset); */
  /* border:solid 1px hsl(0,0%,80%); */
  /* border: 0.5px solid gray; */
  /* border-bottom: solid 1px black; */
}





.navbuttons {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  white-space: nowrap;

  outline: none;
  background: none;
  /* background-color: hsl(0,0%,5%); */

  /* color: var(--clr_tab_button_text); */
  color: var(--clr_text);
  overflow: hidden;
 
  box-shadow: var(--drop_shadow_outset);
  box-shadow: none;
  box-sizing: border-box;
  /* opacity: 0; */
  height: 100%;
  width: auto;

  /* float: left; */
  border-radius: 3px;
  border-bottom: 1px solid var(--clr_text);
  margin: 0px 0px 10px 0;

  cursor: pointer;
  text-align:center;
  /* padding: 14px 3px; */
  padding: 0 1rem;
  /* transition: 0.3s; */
  font-family: "Courier New", Courier, monospace;
  font-weight: var(--clr_tab_button_font_weight);

}



#help_link {
display: flex;
justify-content: center;
align-items: center;

overflow: hidden;
white-space: nowrap;

outline: none;
background: none;
/* background-color: hsl(0,0%,5%); */

/* color: var(--clr_tab_button_text); */
color: hsl(200,50%,80%);
overflow: hidden;

height: 100%;
width: auto;

margin: 0px 0px 10px 0;

cursor: pointer;
text-align:center;
/* padding: 14px 3px; */
padding: 0 1rem;
/* transition: 0.3s; */
font-family: "Courier New", Courier, monospace;
font-weight: var(--clr_tab_button_font_weight);
}
















/* =========
media queries 
=============*/

/* VERTICAL SCREEN */
@media (max-aspect-ratio: 1/1) {

  /* --input_form_container_height_vert: 100; */
  
  .app-container {
    height: var(--app_height);
    width:100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap:1rem;
    padding:1rem;
    /* overflow:hidden; */
  }

  .input-form-container {
    width: 100%;  
    height: calc( var(--app_height) * 1/2 );  
    grid-template-columns: 1fr 3fr;  

    /* height: 5rem;   */
    
    /* grid-template-rows: auto 1fr ; */
  }

  /* #drawing-container {
    background-color: var(--clr_input_form_bg);
    padding:1rem;
  } */

  #input-form {
    height: 5rem; 
    height: calc( var(--app_height) * 1/2 );  
  }

  .tab-bar{
    height: calc( var(--app_height) * 1/2 );  
  }
}
